<header class="bg-blue-600 text-white p-4">
    <nav class="container mx-auto flex justify-between items-center" style="justify-content: space-between">
      <%= link_to 'Dashboard', admin_dashboards_index_path, class: 'text-white hover:underline' %>
      <%= link_to 'Budget Cycles', admin_budget_cycles_path, class: 'text-white hover:underline' %>
      <%= link_to 'Categories', admin_budget_categories_path, class: 'text-white hover:underline' %>
      <%= link_to 'Participants', admin_participants_path, class: 'text-white hover:underline' %>
      <%= link_to 'Logout', '#', class: 'text-white hover:underline' %>
    </nav>
</header>